{{#ui-block title=(ui-join 'blog' model.id model.rev delimiter=' ')}}
  {{ui-input title='name' value=model.name}}
  {{ui-json value=model.state}}
  <div>{{ui-button title='Save' action=(action 'save')}} {{ui-button title='Delete' action=(action 'delete')}}</div>
{{/ui-block}}
