@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin-ext';

.font(@size: 16px) {
  font-family: 'Ubuntu Mono', monospace;
  font-size: @size;
}

.noselect {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  background: lighten(#000, 99%);
  padding: 0;
  margin: 0;
}

body {
  .font;
  cursor: default;
}

* {
  box-sizing: border-box;
}

*[data-ember-action] {
  cursor: pointer;
}

input[type=text],
input[type=password] {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  margin: 0;
  padding: 5px;
  border: 1px solid #eee;
  .font;
}

button {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
  margin: 0;
  .font;
  padding: 5px 10px;
  background: lighten(#000, 95%);
  border: 1px solid lighten(#000, 92%);
  transition: background 0.2s ease,
    border-color 0.2s ease;
  &:hover {
    background: lighten(#000, 92%);
    border-color: lighten(#000, 89%);
  }
  &:active {
    background: lighten(#000, 85%);
  }
}

.ui-application {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  > .navigation {
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
  }
  > .content {
    position: absolute;
    top: 56px;
    left: 10px;
    right: 10px;
    bottom: 0;
  }
}

.ui-navigation {
  .noselect;
  padding: 20px 20px 10px 20px;
  > .title {
    display: inline-block;
    padding-right: 20px;
    font-weight: bold;
  }
  > .items {
    display: inline-block;
    > .item {
      display: inline-block;
      padding-right: 10px;
      &.current {
        text-decoration: underline;
      }
    }
  }
}

.ui-json {
  > .string {
    white-space: pre-wrap;
    .font(13px);
  }
}

.ui-button {
  display: inline-block;
  padding-top: 5px;
}

.ui-block {
  background: #fff;
  border: 1px solid lighten(#000, 92%);
  margin-bottom: 10px;
  > .title {
    padding: 10px;
    background: lighten(#000, 98%);
    border-bottom: 1px solid lighten(#000, 92%);
  }
  > .content {
  }
}

.ui-row {
  padding: 10px 10px 0 10px;
  > .title {
    padding: 0 0 5px 0;
    .font(14px);
    > .detail {
      .font(12px);
    }
  }
  > .value {
    > .ui-row {
      padding: 5px 0 0 0;
    }
  }
  &.action {
    cursor: pointer;
    .noselect;
  }
  &:last-child {
    padding-bottom: 10px;
  }
}

.ui-master-detail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @width: 300px;
  > .master {
    position: absolute;
    top: 0;
    left: 0;
    width: @width;
    bottom: 0;
  }
  > .detail {
    position: absolute;
    top: 0;
    left: @width + 10px;
    right: 0;
    bottom: 0;
  }
}

.ui-select {
  > .ui-select-item {
    > input {
      outline: none;
      width: 16px;
      height: 16px;
      margin: 0;
    }
    > .content {
      display: inline-block;
    }
  }
}
